.loader{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content:center;
    .spinner{
    animation:spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    }
}

@keyframes spinner{
    0%{
       opacity:0.2
    }

    50%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
       
    }
}