.loader{
    
    height:100vh;
    width:100vw;
    display: grid;
    place-content: center;
    

    .spinner{
        color:yellow;
    content:'';
    animation:spinner;
    animation-duration: 0s;
    animation-iteration-count: infinite;
    }
}

@keyframes spinner{
    0%{
       content:'please wait';
       color:red;
    }

    50%{
        content:'please wait..';
        color:blue;
    }
    75%{
        content:'please wait ....';
    }
    100%{
        content:'please wait ......'
    }
}