.nav-sect{
    min-height:100px;
   display:grid;
   background-image: url('../../images/pexels-carlos-pernalete-tua-210498-730647.webp');
   background-color: green;
   background-position:calc(-10px -0px);
   place-content: center;
   background-repeat: no-repeat;
   background-attachment:fixed;
   padding:20px;
   font-family: tahoma;
  opacity:0.8;
  color: white;
   p{
    flex:2;
   }
  
   ul{
    flex:3.5;
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    li{
        margin:5px;
    }
   }
   .title{
    text-align:center;
    padding:2rem;
}
}

