

.dashboard .remarks{
    display: flex;
     width:100%;
    flex-basis: 2;
    flex-wrap: wrap;
    justify-content: first baseline;
    .menus{
    height:37vh;
    width:27%;
    
    
    border:1px solid lightgrey;
    margin:1rem;
    background-color: white;
    border-radius: 1rem;
    padding:20px;
    display:block;
    .sales-title, .expense-title{
        text-align:center;
        color:green;
    }
    .btns{
      
        button{
             position: relative;
        bottom:1%;
           width:100%;
           padding:5px;
           background-color: green;
           color:white;
           border:none;
           border-radius: 4px;
           margin-bottom: 2rem;

        }
    }
    .details{
        margin-top:10%;
    }
}



}
.dev{
   
   font-size:24px;
    
}

.current{
   font-size:24px;

}

.previous{
  
   font-size:24px;
}

table{
    width:90%;
    border-collapse: collapse;
    margin:1rem auto;
    text-align: center;
    background-color:lightgrey;
    height:100%;
    thead{
        width:100%;
        background-color:green;
        color:white;
        padding:20px;
        font-size: large;

    }
    tbody{
        background-color: grey;
    }
}