*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-width:620px){

    *{
        font-size:16px;
    }
    .dashboard{
        display:flex;
        .dashboard-left{
            display:none;
        }
    }
    body{
        display: block;
        box-sizing: border-box;
        align-items:center;
    }
    .nav-section{
        .icon{
            display:none;
        }
        .nav-list{
            ul{
                display:none;
            }
        }
    }
  .space .title{
    display:block;
    text-align: center;
    font-size:14px;
    .search{
        width:100%;
        input{
            font-size:12px;
        }
        button{
            font-size:12px;
        }
    }
  }
    .login-form{
       form{
        padding:20px;
        min-width:80%;
        min-height:40%;
        box-shadow: 1px 2px 3px lightgrey;
        
        .login-button{
            button{
                width:96%;
                
            }
        }
       }
    }
    table{
        margin-top:50px;
        width:100%;
        thead{
        position:fixed;
        top: calc(120px);
        
        }
        top:calc( 100px );
        overflow: scroll;
    }
}