*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-width:420px){
*{
    font-size:16px;
}
.nav-section .icon,.nav-list{
    display:none;
}

.nav-section{
    height:100px;
    width:100%;
}

.nav-section h3{
    font-size:18px;
    opacity: 0.8;
}

.login-form form{
    padding-top:20px;
    margin:200px 5px;
    width:100%;
    height:calc(100vh -100px -20vh);
}
.dashboard-left{
    display:none;
}
.space .title{
    width:100%;
    margin-bottom:20px;
    display:block;
    color:cornflowerblue;
    line-break:normal;
    div{
text-align:right;
    }
    
    .search{
        display:flex;
        input,button{
            font-size:14px;
        }
        
    }
}
.data-section{
    table{
    max-width:100vw;
    }
}
.loader{
    margin-top:40vh;
}
}